<?php

return array(
    'detail_persistence' => array(
        'doctrine' => array(
            'register_uuid_type' => true,
            'caches' => array(
                // Use any name for the cache, e.g. "redis"
                'doctrine.cache.change-me' => array(
                    'storage' => 'change-me', // Use name as set in Zend's options (caches.*), e.g. "doctrine"
                ),
            ),
            'sql_profilers' => array(
                // Use any name for the profiler. This will be the name of the profiler in the service manager.
                'Detail\Persistence\ORMDefaultProfiler' => array(
                    'name' => 'orm_default', // Doctrine connection name
                    'logger' => 'Monolog\Logger', // Name of the logger in the service
                ),
            ),
        ),
    ),
);
