<?php

return array(
    'detail_persistence' => array(
        'doctrine' => array(
            'register_uuid_type' => true,
            'register_datetime_immutable_no_tz' => true,
            'register_datetime_immutable_type' => true,
            'register_datetime_no_tz_type' => true,
            'caches' => array(
                // Use any name for the cache, e.g. "redis"
                'doctrine.cache.change-me' => array(
                    'storage' => 'change-me', // Use name as set in Zend's options (caches.*), e.g. "doctrine"
                ),
            ),
        ),
    ),
);
